Screen {
    align: center middle;
}

#vert {
    width: 50%;
    height: 100%;
    border-left: solid $primary;
    border-right: solid $primary;
}

Task {
    background: $foreground-muted;

    .task_lbl {
        text-style: bold;
        padding: 1;
    }

    #date_lbl {
        dock: right;
    }

    #tag_lbl {
        dock: left;
    }

    #name_lbl {
        width: 2fr;
    }

}
